

body {
    font-size: 1rem;
    width: 90%;
    margin: auto;
}


/* estilos basicos */



td {
    border: thin solid black;
    width: auto;
}

/* DATA grid */
.data {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;

    margin: auto;
}

@media (max-width: 920px) {
    .data {
    grid-template-columns: 1fr 1fr;
    }
}
/* inputs */
.data__input{
    width: 100%;
}
.input--number {

}

.input--abbreviation {
    width: 100%;
}

.input--profesor{
    width: 100%;
}

.print {

    margin: auto;
}
.printArea, .printAreaExp {
    width: 100%;
}

.data__button {
    margin: 1rem 0rem;
}

.input {
    margin: 1rem 0;

}

.a {
    background-color: #ff9aff;
    padding: 1rem;
    border-radius: 8px;
}

.b {
    background-color:  #b2ffff;
    padding: 1rem;
    border-radius: 8px;
}

.sectiona {
    margin-bottom: 20rem;
}

.la {
    background-color: #8b06f5;
    padding: 1rem;
    border-radius: 8px;
}

.lb {
    background-color: #b969f9;
    padding: 1rem;
    border-radius: 8px;
}

.lc {
    background-color: #e7cdfd;
    padding: 1rem;
    border-radius: 8px;
}

.ld {
    background-color: #ebdafa;
    padding: 1rem;
    border-radius: 8px;
}

.ra {
    background-color: #ff4040;
    padding: 1rem;
    border-radius: 8px;
}

.rb {
    background-color: #ff6666;
    padding: 1rem;
    border-radius: 8px;
}

.rc {
    background-color: #ff9f9f;
    padding: 1rem;
    border-radius: 8px;
}

.rd {
    background-color: #ffafaf;
    padding: 1rem;
    border-radius: 8px;
}

.checkbox {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

